/* Reset CSS */
html,
body {
  margin: 0;
  padding: 0;
}

/* Typo */
* {
  font-family: "Montserrat", Arial, sans-serif;
}

/* Layout */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
