/* Main content area styling */
main {
    flex: 1 0 auto;
    margin: auto 10%;
    width: 80%;
}

/* Media query for screens up to 1024 px width */
@media screen and (max-width: 1024px) {
    main {
        margin: auto 5%;
        width: 90%;
    }
}
