/* Styles for the 404 page */
.page-404 {
  text-align: center;
}

/* Title styling for the 404 page */
.title-404 {
  margin: auto;
  font-size: 150px;
  color: #ff6060;
}

/* Description styling for the 404 page */
.description-404 {
  display: block;
  font-size: 20px;
  color: #ff6060;
}

/* Link styling for the 404 page */
.link-site.link-404 {
  display: inline-block; 
  margin-top: 150px;
  border-bottom: 1px solid;
  text-align: center; 
}

/* Media query for screens up to 1439px width */
@media screen and (max-width: 1439px) {
  .title-404 {
    font-size: 96px;
  }

  .description-404 {
    font-size: 18px;
  }
}
